@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');

.sidebar {
    margin: 20px;
    height: 85vh;
    width: 313px;
    background: linear-gradient(to right, #D4A9FF, #80D1FF);
    padding-top: 20px;
    border-radius: 35px;
}

.sidebar h2 {
    color: #ecf0f1;
    text-align: center;
    margin-bottom: 2%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.sidebar ul li {
    padding: 10px;
    text-align: left;
}

.sidebar ul li a {
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    padding-left: 20px;
    transition: 0.3s;
}

.content {
    padding: 20px;
    width: calc(100% - 313px);
    background-color: #ffffff;
    overflow-y: auto;
    border-radius: 0 35px 35px 0;
}

.dashboard {
    height: 40px;
    width: 100%;
    font-size: 20px;
    border-radius: 50px 0px 0px 50px;
    display: flex;
    background-color: #ffffff;
}

.autre {
    color: #ffffff;
    font-size: 20px;
}

.logout {
    margin-top: auto; /* Aligne le bouton en bas */
    margin-bottom: 20px; /* Ajoute un petit espace du bas */
    width: 80%;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    color: linear-gradient(to right, #D4A9FF, #80D1FF);
    transition: all 0.3s ease-in-out;
    position: relative; /* Garde sa place */
}

.logout:hover {
    background-color: linear-gradient(to right, #D4A9FF, #80D1FF);
    color: #fff;
}

.textitem {
    font-weight: 900 !important;
  }
  